/********** General styling **********/
html, body {
  height: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1496629062893-b0f566065d44?dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.main {
  border: 1px solid black;
  padding-top: 20px;
  margin-top: 20px;
}

/********** Log In or Home Screen **********/
.login-div {
  border: 1px solid black;
  padding: 30px 30px 0;
  font-family: "Roboto", sans-serif;
  /* background: rgba(99, 99, 99, .5); optional to darken */

  /* Remove this later when add authentication to .login-form */
  max-width: 425px;
}

.login-form {
  border: 1px solid black;
  margin: 0 auto;
  max-width: 400px;
}

.app-name {
  margin-top: 0;
  font-family: "Fjalla One", sans-serif;
  font-size: 32px;
  letter-spacing: 5px;
}

.app-desc {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  letter-spacing: .5 px;
}

/********** Dashboard, all cards and single card **********/
.stressor-name.dash-para, .stressor-name.chart-para {
  font-size: 20px;
  padding: 20px;
  margin-top: 0;
  color: #fff;
  background-color: #333;
}

.stressor-name.dash-para, .stressor-name.chart-para {
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
}

.stressor-name:hover {
  color: lightblue;
  cursor: pointer;
}

.dash-para, .chart-para {
  font-family: "Nunito", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

/********** Navigation Bars **********/
.navbar-dashboard, .navbar-stressor-chart {
  border: 1px solid red;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #333;
}

a {
  text-decoration: none;
  color: #fff;
  padding-right: 10px;
}

a:hover {
  color: lightblue;
}

/********** Create Stressor Form, Edit Stressor Form **********/
/* Make sure the labels and inputs are block level elements */
input {
  display: block;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
  border-radius: 3px;
  border-style: none;
}

input#stress, input#activity {
  width: 100%;
}

input#duration, input#preHR, input#postHR {
  width: 60px;
}

/* fix Chrome's yellow background for text input */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Remove the fieldset default style (the border) */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.create-stressor-form, .edit-stressor-form {
  background-color: #efefef;
  padding: 15px;
  margin: 0 auto;
  max-width: 400px;
}

.create-stressor-form label, .edit-stressor-form label {
  font-family: "Nunito", sans-serif;
}

legend {
  font-size: 20px;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
  padding: 10px 0 15px;
  margin: 0 auto;
}

/********** Edit Stressor Form **********/
.current-val {
  font-family: "Nunito", sans-serif;
  color: red;
}

/********** Single Card **********/
.js-single-result {
  border: 1px solid black;
  background-color: #efefef;
  border-radius: 3px;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}

.hideModal {
  display: none;
}
