.js-single-result {
  border: 1px solid black;
}


/********** General styling **********/
html, body {
  height: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1496629062893-b0f566065d44?dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

/********** Log In or Home Screen **********/
.login-form {
  border: 1px solid black;
  margin: 50px auto 0;
  max-width: 400px
}

/********** Dashboard **********/
.stressor-name {
  font-size: 20px;
}

.stressor-name:hover {
  color: red;
  cursor: pointer;
}

.dash-para {
  color: blue;
}

span.dash-span {
  color: black;
}

/********** Navigation Bars **********/
.navbar-dashboard, .navbar-stressor-chart {
  border: 1px solid red;
}

/********** Create Stressor Form, Edit Stressor Form **********/
/* Make sure the labels and inputs are block level elements */
input {
  display: block;
}

/* Remove the fieldset default style (the border) */
fieldset {
  border: none;
}

/********** Edit Stressor Form **********/
.current-val {
  color: red;
}