.js-single-result {
  border: 1px solid black;
}


/********** General styling **********/
html, body {
  height: 100%;
}

body {
  background-color: slategray;
  margin: 0;
}

/********** Log In or Home Screen **********/


/********** Dashboard **********/
.stressor-name {
  font-size: 20px;
}

.stressor-name:hover {
  color: red;
  cursor: pointer;
}

.dash-para {
  color: blue;
}

span.dash-span {
  color: black;
}

/********** Navigation Bars **********/
.navbar-dashboard, .navbar-stressor-chart {
  border: 1px solid red;
}

/********** Create Stressor Form, Edit Stressor Form **********/
/* Make sure the labels and inputs are block level elements */
input {
  display: block;
}

/* Remove the fieldset default style (the border) */
fieldset {
  border: none;
}

/********** Edit Stressor Form **********/
.current-val {
  color: red;
}